@inherits LayoutComponentBase

<header id="header" class="header d-flex align-items-center light-background sticky-top">
    <div class="container-fluid position-relative d-flex align-items-center justify-content-between">
        <a href="index.html" class="logo d-flex align-items-center me-auto me-xl-0">
            <h1 class="sitename">Kelly</h1>
        </a>
    </div>
</header>

<div class="main">
    <div class="content px-4">
        @Body
    </div>
</div>
